body {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #F0F8FF; 
}

h1 {
    padding-top: 2em;
}

p {
    margin: 2em 0;
}

img {
    width: 30em;
    max-width: 50%;
}

.heading img {
  float: left;
}

.heading h1 {
  position: relative;
}
