body {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #A9A9A9; 
}

h1 {
    padding-top: 2em;
}

p {
    margin: 2em 0;
}

img {
    width: 30em;
    max-width: 50%;
}
